{% load django_bootstrap5 %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Título de la barra de navegación -->
        <a class="navbar-brand" href="{% url 'index' %}">Gestor de Tareas</a>
        
        <!-- Menú principal -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <!-- Inicio -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>

                <!-- Usuarios -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="usuariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="usuariosDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar_usuarios' %}">Lista de usuarios</a></li>
                        <li><a class="dropdown-item" href="{% url 'pasaporte_nacionalidad' 'Española' %}">Usuarios con pasaporte español</a></li>
                        <li><a class="dropdown-item" href="{% url 'ultimo_usuario_comentar' %}">Último usuario en comentar</a></li>
                        <li><a class="dropdown-item" href="{% url 'comentarios_usuario' 8 %}">Comentarios del usuario 8</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuario_create' %}">Crear usuario</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuario_busqueda' %}">Buscar usuario</a></li>
                    </ul>
                </li>

                <!-- Reservas -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="reservasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Reservas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="reservasDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar_reservas' %}">Lista de reservas</a></li>
                        <li><a class="dropdown-item" href="{% url 'listar_reservasUsuario' 10 %}">Reservas del usuario 10</a></li>
                        <li><a class="dropdown-item" href="{% url 'reservas_rango' '2000-01-01' '2024-12-31' %}">Reservas entre fechas</a></li>
                        <li><a class="dropdown-item" href="{% url 'reservas_sin_extras' %}">Reservas sin extras</a></li>
                        <li><a class="dropdown-item" href="{% url 'total_precios_reservas' %}">Total precios reservas</a></li>
                        <li><a class="dropdown-item" href="{% url 'reserva_create' %}">Crear reserva</a></li>
                        <li><a class="dropdown-item" href="{% url 'reserva_busqueda' %}">Buscar reserva</a></li>
                    </ul>
                </li>

                <!-- Destinos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="destinosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Destinos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="destinosDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar_destinos' %}">Lista de destinos</a></li>
                        <li><a class="dropdown-item" href="{% url 'alojamientos_destino' 6 %}">Alojamientos del destino 6</a></li>
                        <li><a class="dropdown-item" href="{% url 'destino_create' %}">Crear destino</a></li>
                        <li><a class="dropdown-item" href="{% url 'destino_busqueda' %}">Buscar destino</a></li>
                    </ul>
                </li>


                <!-- Alojamientos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="destinosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Alojamientos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="destinosDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar_alojamientos' %}">Lista de alojamientos</a></li>
                        <li><a class="dropdown-item" href="{% url 'alojamientos_destino' 6 %}">Alojamientos del destino 6</a></li>
                        <li><a class="dropdown-item" href="{% url 'alojamiento_create' %}">Crear alojamiento</a></li>
                        <li><a class="dropdown-item" href="{% url 'alojamiento_busqueda' %}">Buscar alojamiento</a></li>
                    </ul>
                </li>


                <!-- Comentarios -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="comentariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Comentarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="destinosDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar_comentarios' %}">Lista de comentarios</a></li>
                        <li><a class="dropdown-item" href="{% url 'ultimo_usuario_comentar' %}">Último Usuario en comentar</a></li>
                        <li><a class="dropdown-item" href="{% url 'comentarios_usuario' 8 %}">Comentarios del usuario 8</a></li>
                        <li><a class="dropdown-item" href="{% url 'comentario_create' %}">Crear comentario</a></li>
                        <li><a class="dropdown-item" href="{% url 'comentario_busqueda' %}">Buscar comentario</a></li>
                    </ul>
                </li>


                <!-- Promociones -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pormocionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Promociones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="promocionesDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar_promociones' %}">Lista de promociones</a></li>
                        <li><a class="dropdown-item" href="{% url 'promocion_create' %}">Crear promocion</a></li>
                        <li><a class="dropdown-item" href="{% url 'promocion_busqueda' %}">Buscar promocion</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Formulario de búsqueda alineado a la derecha -->
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
