<html>
    <head></head>
    <body>
    <h1>AGENCIA DE VIAJES</h1>

    <h2>Listado de enlaces</h2>
    <ul>
        <li><a href="{% url 'listar_sopas' %}">Listado de todas las sopas</a></li>
        <li><a href="{% url 'ultimo_voto' 2 %}">Último voto del modelo 2</a></li>
        <li><a href="{% url 'sopas_votos' 'Luisa Gomez' %}">Sopas con puntuación menor a 3 de Luisa Gomez</a></li>
        <li><a href="{% url 'usuarios_voto' %}">Usuarios que nunca han votado</a></li>
        <li><a href="{% url 'cuenta_usuario' 'Juan' %}">Cuentas Bancarias de la CAIXA O UNICAJA que contengan el nombre 'Juan'</a></li>
        <li><a href="{% url 'votos_usuarios' %}">Votos de usuarios a partir de 2023 con una cuenta de banco asociada</a></li>
    </ul>