body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/*DISEÑO HERO BANNER, IMAGEN DE FONDO Y TEXTO*/
.hero-banner{
    /*background-image: url(../imagenes/fondo.png);*/
    background-image: url(../imagenes/playa.png);
    background-size: cover; /* Hace que la imagen cubra todo el contenedor sin deformarse */
    color: white;
    height: 710px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; /*Alinea verticalmente al medio*/
}

.align-end{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 50px;
    width: auto;
    font-size: 20px;
}

.align-end h1, .align-end p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra en el texto para mejor legibilidad */
}


/*Diseño de los botones entre pagina. Sigue siendo Hero banner*/
.banner-buttoms{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.banner-buttoms a{
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 15px;
    color: white;
    font-size: 14px;
}

.banner-buttoms a:hover{
    border: 2px solid #2E8B57;
    background-color: #2E8B57;
    transition: 0.3s;
}

/*---------------------------------------------------------------------------------------*/

/*COMIENZA El DISEÑO DEL CONTENIDO*/
section{
    padding: 30px;
}

h2{
    text-align: center;
    font-size: 25px;
}

/*---------------------------------------------------------------------------------------*/

/*SECTION SERVICIOS*/
#servicios{
    background-color: #f8f8f8;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicios h2{
    margin-top: 25px;
}

/*Diseño con GRID de nuestros servicios, alinenadolos en columna con 350px de ancho*/
.grid-servicio{
    display: grid;
    grid-template-columns: 290px 290px 290px;
    gap: 2rem;
    margin-top: 60px;
    justify-content: center;
}

.service{
    /*border: 1px solid gray;*/
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}


/* Agranda la tarjeta al pasar el cursor */
.service:hover {
    transform: scale(1.02); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    transition: 0.3s;
}

.service h3{
    padding: 0 25px 10px 25px;
    font-size: 18px;
}

.service p{
    padding: 0 25px 30px 25px;
    font-size: 15.6px;
    text-align: justify;
}

/*Diseño del div que contiene nuestra imagen de lo que ofrecemos*/
.imageServicio{
    display: flex;
    justify-content: center;
    height: 190px;
    margin-bottom: 17px;
    width: 100%;
}

.imageServicio img{
    width: 100%;  
    height: 100%;
    object-fit: cover; /*Se usa para que la imagen se ajuste al contenedor manteniendo el aspecto*/
    border-radius: 8px 8px 0 0;
}

/*---------------------------------------------------------------------------------------*/

/*SECTION DESTINOS POPULARES*/
#destinos{
    margin-top: 25px;
    align-items: center;
}


/*Diseño con GRID de nuestros destinos populares, alinenadolos en 2 columnas y 2 filas*/
.galeria-destinos{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 3.5rem;
    margin-top: 60px;
    justify-content: center;
    justify-items: center;
}

.destino{
    /*border: 1px solid gray;*/
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

/*Diseño del div que contiene nuestra imagen de los destinos*/
.imageDestino{
    display: flex;
    margin-bottom: 17px;
    height: 170px;
}

.imageDestino img{
    border-radius: 8px 8px 0 0;
    width: 100%;
}

/*Texto de nuestro div*/
.destino h3{
    padding: 0 25px 10px 25px;
    font-size: 18px;
}

.destino p{
    padding: 0 25px 25px 25px;
    font-size: 15.6px;
    text-align: justify;
}

/*Call-to-action bottom*/
.destino a{
    text-decoration: none;
    background-color: #2E8B57;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center; 
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: bold;
}

.btn-destino{
    display: flex;
    justify-content: center;
}

.destino a:hover{
    background-color: #21663f;
    transform: scale(1.05);
    transition: 0.1s;
}

/*---------------------------------------------------------------------------------------*/

/*SECTION TESTIMONIOS*/
#testimonios{
    margin-top: 40px;
    background-color: #f8f8f8;
    padding-bottom: 70px;
}

#testimonios h2{
    margin-top: 25px;
}

.grid-testimonios{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-top: 50px;
    gap: 1.7rem;
}

.testimonio{
    background-color: lightgray;
    padding: 30px 120px 30px 120px;
    font-style: italic;
    font-size: 15.6px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.testimonio span{
    margin-right: 10px;
}

/*---------------------------------------------------------------------------------------*/

/*SECTION EQUIPO/GUIAS ESPEICIALES*/
#equipo{
    margin-top: 25px;
}

.flex-equipo{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 2rem;
}

.guia{
    /*border: 1px solid gray;*/
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.guia:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.imgGuia{
    display: flex;
    margin-bottom: 17px;
    height: 145px;
}

.imgGuia img{
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.guia h3{
    padding: 0 25px 10px 25px;
    font-size: 18px;
}

.guia p{
    padding: 0 25px 25px 25px;
    font-size: 15.6px;
    text-align: justify;
}

/*---------------------------------------------------------------------------------------*/

/* RESPONSIVIDAD */
/*Creo esta media para que los destinos a partir de 1380 sean ajustable al tamaño de la pantalla*/
@media (max-width: 1380px) {
    .galeria-destinos{
        grid-template-columns: 1fr 1fr 1fr;
    }

}


/*Este media es para dispositivos menos de 1024px*/
@media (max-width: 1024px) {
    /*Cambiamos los servicios y bajamos una fila*/
    .grid-servicio{
        grid-template-columns: 1fr 1fr;
        width: 75%;
    }

    /*Aqui cambiamos los destino de a 2.*/
    .galeria-destinos{
        grid-template-columns: 45% 45%;
        gap: 2rem;
    }

    /*Ahora vamos a modificar los guías para que se adapten*/
    .flex-equipo{
        display: flex;
        flex-wrap: wrap;
    }

    .guia{
        width: 25%;
    }

}


/*Este media para dispositivos menores de 768px*/
@media (max-width: 768px) {
   .grid-servicio{
    grid-template-columns: 1fr;
    width: 50%;
   }

   .galeria-destinos{
    grid-template-columns: 75%;
   }

   .guia{
        width: 40%;
    }

    .alig-end{
        display: flex;
    }

}


/*Este media para dispositivos menores de 480px*/
@media (max-width: 480px) {

    .guia{
        width: 60%;
    }

    .testimonio{
        padding: 30px 40px 30px 40px;
    }

}