/*DISEÑO HERO BANNER, IMAGEN DE FONDO Y TEXTO*/
.hero-banner{
    background-image: url(../imagenes/fondo.png);
    background-size: cover; /* Hace que la imagen cubra todo el contenedor sin deformarse */
    color: white;
    height: 515px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; /*Alinea verticalmente al final*/
}

.align-end{
    margin-bottom: 30px;
}


/*Diseño de los botones entre pagina. Sigue siendo Hero banner*/
.banner-buttoms{
    display: flex;
    margin-top: 25px;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
}

.banner-buttoms a{
    text-decoration: none;
    background-color: #35495a;
    padding: 10px;
    color: white;
    font-size: 14px;
}

.banner-buttoms a:hover{
    background-color: #263542;
    transform: scale(1.1);
}



/*COMIENZA El DISEÑO DEL CONTENIDO*/
section{
    padding: 30px;
}

h2{
    text-align: center;
    font-size: 25px;
}



/*SECTION SERVICIOS*/
#servicios{
    margin-top: 30px;
}

/*Diseño con GRID de nuestros servicios, alinenadolos en columna con 350px de ancho*/
.grid-servicio{
    display: grid;
    grid-template-columns: 330px 330px 330px;
    gap: 2rem;
    margin-top: 50px;
    justify-content: center;
}

.service{
    border: 1px solid gray;
    border-radius: 10px;
}

.service h3{
    padding: 0 25px 10px 25px;
    font-size: 18px;
}

.service p{
    padding: 0 25px 25px 25px;
    font-size: 16px;
    text-align: justify;
}

/*Diseño del div que contiene nuestra imagen de lo que ofrecemos*/
.image{
    display: flex;
    justify-content: center;
    height: 220px;
    margin-bottom: 17px;
    width: 100%;
}

.image img{
    width: 100%;  
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}



/*SECTION DESTINOS POPULARES*/
#destinos{
    margin-top: 20px;
}


/*Diseño con GRID de nuestros destinos populares, alinenadolos haci abajo*/
.galeria-destinos{
    display: grid;
    grid-template-rows: 3fr;  /*Colocamos un solo elemento por columna*/
    gap: 2rem;
    margin-top: 70px;
    justify-content: center;
}

.destino{
    border: 1px solid gray;
}