<div>
    <h2>Código de reserva: {{ reserva.codigo_reserva }}</h2>
    <p>Fecha de salida: {{ reserva.fecha_salida|date:"d-m-Y" }}</p>
    <p>Fecha de llegada: {{ reserva.fecha_llegada|date:"d-m-Y" }}</p>
    <p>Número de personas: {{ reserva.numero_personas }}</p>
    <h4>Reserva #{{ forloop.counter }}</h4>

    {% if reserva.numero_personas > 4 %}
        <p>Reserva para un grupo grande.</p>
    {% else %}
        <p>Reserva para un grupo chico.</p> 
    {% endif %}

    <p>Precio: {{ reserva.precio|floatformat:2 }}</p>
</div>
