<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <h1>Biblioteca</h1>

    {% for proyecto in proyecto_mostrar %}
        <div>
            <h2>Nombre: {{ proyecto.nombre }} </h2>
            <h2>Descripcion: {{ proyecto.descripcion }}</h2>
            <h2>Duración estimada: {{ proyecto.duracion_estimada }}</h2>
            <h2>Fecha de inicio: {{ proyecto.fecha_inicio }}</h2>
            <h2>Fecha de fin: {{ proyecto.fecha_fin }}</h2>

            <h2>Administrador: {{ proyecto.administrador.nombre }}</h2>
            <h2>Colaboradores</h2>
            <ul>
                {% for usuario in proyecto.colaboradores.all %}
                    <li>{{ usuario.nombre }}</li>
                {% endfor%}
            </ul>

            <h3>Tareas asociadas: 
                <a href="{% url 'listar_tareas' proyecto.id %}">Pulsa para ver las tareas asociadas</a>
            </h3>

    {% endfor %}

    </body>
</html>