<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <h1>Tareas</h1>

        <div>
            {% for tarea in tarea_mostrar %}
                <h2>Titulo: {{ tarea.titulo }} </h2>
                <p>Prioridad: {{ tarea.prioridad }} </p>
                <p>Estado: {{ tarea.estado }} </p>
                <p>Completada: {{ tarea.completada }} </p>
                <p>Fecha de creación: {{ tarea.fecha_creacion }} </p>
                <p>Hora de vencimiento: {{ tarea.hora_vencimiento }} </p>
                <p>Descripcion: {{ tarea.descripcion }}</p>

            <h3>Usuarios asignados: 
                <a href="{% url 'listar_usuarios_tarea' tarea.id%}">Pulsa para ver los usuarios asignados</a>
            </h3>

            {% endfor %}

        </div>

    </body>
</html>