<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <h1>Tareas</h1>

        <div>
            <h2>Titulo: {{ tarea_mostrar.titulo }} </h2>
            <p>Prioridad: {{ tarea_mostrar.prioridad }} </p>
            <p>Estado: {{ tarea_mostrar.estado }} </p>
            <p>Completada: {{ tarea_mostrar.completada }} </p>
            <p>Fecha de creación: {{ tarea_mostrar.fecha_creacion }} </p>
            <p>Hora de vencimiento: {{ tarea_mostrar.hora_vencimiento }} </p>
            <p>Descripcion: {{ tarea_mostrar.descripcion }}</p>
        </div>

    </body>
</html>