<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <h1>ÚLTIMO VOTO</h1>

    {% for voto in voto_mostrar %}
        <div>
            <h2>Puntuación: {{ voto.puntuacion }} </h2>
            <p>Comentario: {{ voto.comentario }}</p>
            <p>Fecha de votación: {{ voto.fecha_votacion }}</p>

            <h3>Usuario: {{ voto.usuario.nombre }}</h3>
            <p>Correo: {{ voto.usuario.correo }}</p>
            <p>Telefono: {{ voto.usuario.telefono }}</p>
            <p>Edad: {{ voto.usuario.edad }}</p>
        </div>

    {% endfor %}

    </body>
</html>