<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <h1>ALOJAMIENTOS</h1>

    {% for alojamiento in alojamientos_mostrar %}
        <div>
            <h2>Nombre: {{ alojamiento.nombre }} </h2>
            <p>Dirección: {{ alojamiento.direccion }}</p>
            <p>Capacidad: {{ alojamiento.capacidad }}</p>
            <p>Tipo: {{ alojamiento.tipo }}</p>
            <p>Destino: {{ alojamiento.destino.nombre }}</p>
            <p>Reserva: {{ alojamiento.reserva.codigo_reserva }}</p>
        </div>

    {% endfor %}

    </body>
</html>