<!-- usuario_form.html -->

{% extends 'principal.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% block cabecera %}
<h1>CREAR PRODUCTO</h1>
<img src="{% static 'images/logo.png' %}" alt="Logo"/>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2>Crear Producto</h2>
    <form action = "{% url 'producto_create' %}" method="post">
        {% csrf_token %}

        <!-- Campo: Nombre -->
        <div class="mb-4">
            {% bootstrap_field form.nombre show_label=True %}
        </div>
        
        <!-- Campo: Edad -->
        <div class="mb-4">
            {% bootstrap_field form.puede_tener_promociones show_label=True %}
        </div>
        
        <button type="submit" class="btn btn-primary">Crear Producto</button>
    </form>
</div>
{% endblock %}
