<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <h1>USUARIOS</h1>

    {% for usuario in usuarios_mostrar %}
        <div>
            <h2>Nombre: {{ usuario.nombre }} </h2>
            <p>Correo: {{ usuario.correo }}</p>
            <p>Edad: {{ usuario.edad }}</p>
            <p>Teléfono: {{ usuario.telefono }}</p>
            <p>Fecha de registro: {{ usuario.fecha_registro }}</p>
            <p>ID del usuario: {{ usuario.id }}</p>
            <p>Nacionalidad: {{ usuario.pasaporte.nacionalidad }}</p>

            <h3>Reservas: <a href="{% url 'listar_reservas' usuario.id %}"> Pulsa para ver las reservas</h3></a>

            <a href="{% url 'pasaporte_nacionalidad' usuario.pasaporte.nacionalidad %}"> Pulsa para ver usuarios con la misma nacionalidad o Española</a>
        </div>


    {% endfor %}

    </body>
</html>