<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <h1>USUARIO</h1>

    {% for comentario in comentarios_mostrar %}
        <div>
            <h2>Nombre usuario: {{ comentario.usuario.nombre }} </h2>
            <p>Correo: {{ comentario.usuario.correo }}</p>
            <p>Edad: {{ comentario.usuario.edad }}</p>
            <p>Teléfono: {{ comentario.usuario.telefono }}</p>
            <p>Fecha de registro: {{ comentario.usuario.fecha_registro }}</p>
            <p>ID del usuario: {{ comentario.usuario.id }}</p>
            <p>Nacionalidad: {{ comentario.usuario.pasaporte.nacionalidad }}</p>

            <h3>Reservas: <a href="{% url 'listar_reservas' comentario.usuario.id %}"> Pulsa para ver las reservas</h3></a>

            <h2>Comentario: {{ comentario.contenido }}</h2>
        </div>


    {% endfor %}

    </body>
</html>