<!DOCTYPE html>
<html>
    <head>
        <title>Protectoras</title>
    </head>
    <body>

        <header>
            <h3><a href="/">Animales</a></h3>
            <h3><a href="/protectoras/">Protectoras</a></h3>
            <h3><a href="/colaboradores/">Colaboradores</a></h3>
        </header>

        <h1>Protectoras</h1>
        
        {% for protectora in protectora_mostrar %}
            <article>
                <h2> {{ protectora.nombre }} </h2>
                <p> Descripcion: {{ protectora.descripcion }} </p>
                <p> Fecha de creacion: {{ protectora.fecha_creacion }} </p>
            </article>
        {% endfor %}

    </body>
</html>

<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        background-color: #4CAF50;
        color: white;
        margin: -7.8px;
        gap: 3rem;
    }

    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: lightblue;
    }

</style>