{% extends 'principal.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block cabecera %}
<h1>Búsqueda Avanzada de Usuarios</h1>
<img src="{% static 'images/logo.png' %}" alt="Logo"/>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2>Buscar Usuarios</h2>
    <form action="{% url 'usuario_busqueda_avanzada' %}" method="get">
        {% csrf_token %}

        <!-- Campo: Texto de búsqueda -->
        <div class="mb-4">
            {% bootstrap_field form.texto_busqueda show_label=True %}
        </div>
        
        <!-- Campo: Edad Desde -->
        <div class="mb-4">
            {% bootstrap_field form.edad_desde show_label=True %}
        </div>

        <!-- Campo: Edad Hasta -->
        <div class="mb-4">
            {% bootstrap_field form.edad_hasta show_label=True %}
        </div>

        <!-- Campo: Fecha Desde -->
        <div class="mb-4">
            {% bootstrap_field form.fecha_desde show_label=True %}
        </div>

        <!-- Campo: Fecha Hasta -->
        <div class="mb-4">
            {% bootstrap_field form.fecha_hasta show_label=True %}
        </div>

        <!-- Botón de búsqueda -->
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</div>
{% endblock %}
